.container {
    background-color:#d2e5fd;
    width: 800px;
    height: 720px;
    margin-left: auto;
    margin-right: auto;
    padding: 60x;
}
.form {
    background-color: #fdfeff;
    width: 600px;
    height: 550px;
    margin-left: auto;
    margin-right: auto;
    padding: 60px;
    display: grid;
    gap: 10px;
  justify-content: center;
  background-color: #ffffff;
}
.form {
    background: #fff;
    padding: 50px;
  }
  .form .forms{
      display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0px 14px;
    grid-template-areas: 
    'first second'
    'third fourth'
    'fifth fifth'
    'sixth sixth'
    'btn btn';
  }
  input{
      border-radius: 7px;
      border: none;
  }
  .form .forms .first{
    grid-area: first;
    background-color: #e6e9fe;
}
.form .forms .second{
   grid-area: second;
   background-color: #e6e9fe;
}
.form .forms .third{
   grid-area: third;
   background-color: #dce0ff;
}
.form .forms .fourth{
   grid-area: fourth;
   background-color: #dce0ff;
}
.form .forms .fifth{
   grid-area: fifth;
   background-color: #c7cdfc;
}
.form .forms .sixth{
    grid-area: sixth;
    background-color: #a4b2fd;
 }
 .form .forms button{
    grid-area: btn;
 }
  .form label {
    display: none;
  }
  
  textarea {
    border-radius: 7px;
    border: none;
    padding: 1em;
  }
  h3{
    color: #323ca8;
    font-size: 35px;
    font-weight: normal;
    text-transform: capitalize;
  }
  button {
    background-color: #223bf5;
    color: #fff;
    width: 50%;
    border-radius: 25px;
    border: none;
    text-decoration: none;
    font-size: 14px;
    padding: 10px 15px;
    text-align: center;
    margin-left: 100px;
  }
 .form-row label{
     display: none;
 }